version: "3.7"
services:

  mysql_db:
      image: "mysql:8.0"
      container_name: mysql_cpa
      deploy:
        restart_policy:
          condition: on-failure
          delay: 5s
          max_attempts: 3
      ports:
        - "3306:3306"
      environment:
        MYSQL_DATABASE: ${MYSQLDB_DATABASE}
        MYSQL_ROOT_PASSWORD: ${MYSQLDB_PASSWORD}
      volumes:
        - ./data:/var/lib/mysql
      networks:
        - cpa-network
  api_service:
    build: .
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    ports:
      - "8080:8080"
    depends_on:
      - mysql_db
    environment:
        SPRING_PROFILES_ACTIVE: docker
    networks:
      - cpa-network

networks:
  cpa-network:
    driver: bridge