name: CI/CD Pipeline

env: 
  DOCKER_USERNAME: ${{ secrets.DOCKER_USER }}
  DOCKER_PASSWORD: ${{ secrets.DOCKER_TOKEN }}

on:
  push:
    branches:
      - main

jobs:

  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3.4.0

      - name: Execute tests
        run: docker-compose -f docker-compose.yml -f docker-compose.test.yml up --build

  build-and-deploy:
    needs: run-tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3.4.0
      
    - name: Docker login
      uses: docker/login-action@v2.1.0
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
        
    - name: Build Docker image
      uses: docker/build-push-action@v4.0.0
      with:
        context: .
        push: true
        tags: |
          joaopedrogama/cpa-api:1.0.0
          joaopedrogama/cpa-api:latest